<div class="tabcontent" id="Author">
  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Id</th>
      <th><a class="button is-primary" href="/admin/newAuthor">+</a></th>
    </tr>
    {{#allAuthors}}
    <tr>
      <td><a href="/admin/authorCourses/{{ _id }}">{{name}}</a></td>
      <td>{{email}}</td>
      <td id="id-{{_id}}">{{_id}}</td>
      <td>
        <a class="button is-info" href="/admin/author/{{_id}}">Editar</a>
        <a class="button is-danger" onclick="deleteItem('{{_id}}', 'author')">Deletar</a>
      </td>
    </tr>
    {{/allAuthors}}
  </table>
</div>
<script src="/js/deleteItem.js"></script>
