<div class="tabcontent" id="Author">
  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Id</th>
      <th> <a href="/admin/newAuthor"><div class="button is-primary">+</div></a></th>
    </tr>
    {{#allAuthors}}
    <tr>
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td id="id-{{_id}}">{{_id}}</td>
      <td>
        <button id="deleteAuthor-{{_id}}" type="button" name="delete">Delete</button>
        <button type="button" name="edit">Edit</button>
      </td>
    </tr>
    {{/allAuthors}}
  </table>
</div>
<script language="JavaScript" type="text/javascript">
{{#allAuthors}}
$('#deleteAuthor-{{_id}}').click(function(e) {
  e.preventDefault();
  if (confirm('Esta operação deletará todos os cursos deste autor. Você tem certeza disto?')){
    var data = {};
    data.id = $('#id-{{_id}}').text()
    data.collection = 'author'
    $.ajax('http://localhost:3000/deletePost', {
      type: 'POST',
      data: JSON.stringify(data),
      contentType: 'application/json',
      success: function() { console.log('success');},
      error  : function() { console.log('error');}
    });
  }
})
{{/allAuthors}}
</script>
