<ul>
  {{#allCourses}}
      <li class="">
        <a href="/course/{{ _id }}">
          <div class="lista-cursos">
            <span class="card-title"> {{ title }} </span>
            <span class="card-description">{{ description }}</span>
            <span class="card-author">{{ author }}</span>
            <span class="card-language">{{ language }}</span>
          </div>
        </a>
      </li>
  {{/allCourses}}
</ul>
