<div class="container ">
  {{#allAuthors}}
  {{#courses}}
  {{#if courseApproval}}
  <a href="/course/{{ _id }}">
    <div class="card is-hidden-mobile">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="{{ image }}" alt="Placeholder image">
        </figure>
      </div>
      <header class="card-header has-text-centered is-hidden-mobile">
        <p class="card-header-title">
          {{ title }}
        </p>
      </header>
      <div class="card-content card-body is-hidden-mobile">
        {{ description }}
      </div>
    </div>
    <div class="card is-mobile is-hidden-desktop">
    <div class="card-image">
      <figure class="image is-16by9">
        <img src="{{ image }}" alt="Placeholder image">
      </figure>
    </div>
  </div>
  </a>
  {{/if}}
  {{/courses}}
  {{/allAuthors}}
</div>
