<div class="container is-fluid">
  {{#allContents}}
  <a href="/course/{{ _id }}">
  <div class="card" style="width: 30%; margin: 1%; display: inline-block;">
    <header class="card-header">
      <p class="card-header-title" style="height: 10vh">
        {{ title }}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        {{ description }}
        {{ author }}
        <br>
        {{ language }}
      </div>
    </div>
  </div>
  {{/allContents}}
</a>
</div>
<!--

<ul>
  {{#allContents}}
      <li class="">
        <a href="/course/{{ _id }}">
          <div class="lista-cursos">
            <span class="card-title"> {{ title }} </span>
            <span class="card-description">{{ description }}</span>
            <span class="card-author">{{ author }}</span>
            <span class="card-language">{{ language }}</span>
          </div>
        </a>
      </li>
  {{/allContents}}
</ul> -->
