<div class="tile is-parent">
  <div class="box-radius">
    <article class="tile is-child notification">
      <div class="content">
        <h5 class="subtitle has-text-dark">Outras aulas:</h5>
        <div class="playlist-container">
          <ul>
            {{#allContents}}
            <li class="thumbnail-align">
              <a href="/content/{{ id }}">
                <div class="title-video"> <p class=""> {{ preview }}</p></div>
                <img src="http://i1.ytimg.com/vi/{{ url }}/mqdefault.jpg" alt="Link para a aula {{ title }}">
              </a>
              <span class="is-black"> {{ title }}</span>
            </li>
            {{/allContents}}
          </ul>
          {{#allContents}}
          {{else}}
          <p class="subtitle is-6"> Não possui próximas aulas</p>
        </div>
        {{/allContents}}
      </div>
    </article>
  </div>
</div>
