<article class="tile is-child notification">
  {{#contentItem}}
  <p class="title is-2 has-text-white">{{title}}</p>
  <div class="content">
    <iframe id="playerVideo" width="100%" height="480" src="https://www.youtube.com/embed/{{url}}" frameborder="0" allowfullscreen></iframe>
    {{/contentItem}}
    <nav class="level is-mobile is-tablet is-widescreen">
      <div class="level-left">
        {{#authorItem}}
        <a class="subtitle has-text-info authorContent" href="/author/{{ _id }}">{{name}}</a>
        {{/authorItem}}
      </div>
      <div class="level-right">
        {{#contentItem}}
        <div class="level-item has-text-centered">
          <div>
            <p class="subtitle">Visualizações: {{ views }}</p>
            {{/contentItem}}
          </div>
        </div>
      </nav>
      <nav class="level is-mobile is-tablet is-widescreen">
        <div class="level-left">
          {{#previous}}
          <form  action="/content/{{ id }}">
            <input class="button is-primary" type="submit" value="Anterior">
          </form>
          {{/previous}}
        </div>
        <div class="level-right">
          {{#next}}
          <form action="/content/{{ id }}">
            <input id="btnNextClass"class="button is-primary" type="submit" value="Próximo">
          </form>
          {{/next}}
        </nav>
      </div>
      {{#contentItem}}
      <p class="subtitle is-4">Descrição:</p>
      <p class="has-text-dark"> {{ preview }}</p>
      {{/contentItem}}
    </div>
  </div>
</article>
