{{#authorItem}}
{{#courses}}
<a href="/course/{{ _id }}">
  <div class="card">
    <div class="card-image">
    </div>
    <div class="card-content is-hidden-mobile">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="{{ image }}" alt="imagem do curso">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-size-4">{{ title }}</p>
          <p class="subtitle is-size-6"> Author: {{ author}}</p>
        </div>
      </div>
      <div class="content">
        {{ description }}
      </div>
    </div>
  </div>
  {{/courses}}
{{/authorItem}}
</a>
