<div class="columns">
  {{#authorItem}}
  <div class="column">
    <div class="media-content subtitle is-5">
      <p>Pessoa autora: <a class="has-text-info" href="/author/{{ _id }}"> {{name}}</a></p>
      {{#courses}}
      <div class="media-content subtitle is-6 has-text-grey-darker">
        <p><span>Duração:</span> {{ duration }}</p>
        <p><span>Linguagem:</span> {{ language }}</p>
        <p><span>Número de aulas:</span> {{ lessons }}</p>
        {{/courses}}
      </div>
    </div>
  </div>
  {{/authorItem}}
  <div class="column">
    <p class="has-text-centered">
      {{#firstContent}}
      <br>
      <a class="button is-primary is-large btn-course-page" href="/content/{{ _id }}"> Começar
      {{/firstContent}}</a>
      </p>
    </div>
  </div>
