<div class="columns">
  <div class="column">
    {{#authorItem}}
    <div class="media-content subtitle is-5">
      <p>Pessoa autora: <a class="has-text-info" href="/author/{{ _id }}"> {{author}}</a></p>
      {{/authorItem}}
      {{#courseItem}}
      <div class="media-content subtitle is-6 has-text-grey-darker">
        <p><span>Duração:</span> {{ duration }}</p>
        <p><span>Linguagem:</span> {{ language }}</p>
        <p><span>Número de aulas:</span> {{ lessons }}</p>
        {{/courseItem}}
      </div>
    </div>
  </div>
  <div class="column">
    <p class="has-text-centered">
      {{#titleItem}}
      <br>
      <a class="button is-primary is-large btn-course-page" href="/content/{{ _id }}"> Começar
        {{/titleItem}}</a>
      </p>
    </div>
  </div>
