<div class="tabcontent" id="Courses">
  <table class="table">
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Id</th>
      <th> <a href="/admin/newCourse"><div class="button is-primary">+</div></a></th>
    </tr>
    {{#allAuthors}}
    {{#courses}}
    <tr>
      <td>{{title}}</td>
      <td>{{author}}</td>
      <td id="id-{{_id}}">{{_id}}</td>
      <td>
      <button id='deleteCourse-{{_id}}' type="button" name="delete">Delete</button>
        <button id="editCourse" type="button" name="edit">Edit</button>
      </td>
    </tr>
    {{/courses}}
    {{/allAuthors}}
  </table>
</div>
<script language="JavaScript" type="text/javascript">
{{#allAuthors}}
{{#courses}}
$('#deleteCourse-{{_id}}').click(function(e) {
  e.preventDefault();
  if (confirm('Esta operação deletará todos os conteúdos deste curso. Você tem certeza disto?')){
    var data = {};
    data.id = $('#id-{{_id}}').text()
    data.collection = 'courses'
    $.ajax('http://localhost:3000/deletePost', {
      type: 'POST',
      data: JSON.stringify(data),
      contentType: 'application/json',
      success: function() {console.log('sucess');},
      error  : function() { console.log('error');}
    });
  }
})
{{/courses}}
{{/allAuthors}}
</script>
