<div class="tabcontent" id="Courses">
  <table class="table">
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Id</th>
      <th><a class="button is-primary" href="/admin/newCourse">+</a></th>
    </tr>
    {{#allAuthors}}
    {{#courses}}
    <tr>
      <td><a href="/admin/contentList/{{ _id }}">{{title}}</a></td>
      <td>{{author}}</td>
      <td id="id-{{_id}}">{{_id}}</td>
      <td>
        <a class="button is-info" href="/admin/course/{{_id}}">Editar</a>
        <a class="button is-danger" onclick="deleteItem('{{_id}}', 'courses')">Deletar</a>
      </td>
    </tr>
    {{/courses}}
    {{/allAuthors}}
  </table>
</div>
<script src="/js/deleteItem.js"></script>
