<a class="button" href="/admin/list">Retornar para a página anterior</a></li>
<div class="hero-body">
  {{#authorItem}}
  <form action="/admin/saveAuthor" method="post">
    <div class="field">
      <label class="label">Nome</label>
      <div class="control">
        <input id="name" name="name" class="input" maxlength="40" type="text" placeholder="insira aqui nome completo" value="{{name}}" required>
        <input id="id" name="id" class="input" type="hidden" value="{{_id}}">
      </div>
    </div>

    <div class="field">
      <label class="label">E-mail</label>
      <div class="control">
        <input id="email" name="email" class="input" type="email" placeholder="insira aqui o e-mail do autor" value="{{email}}" >
      </div>
    </div>

    <div class="field">
      <label class="label">Biografia</label>
      <div class="control">
        <textarea id='bio' name="bio" class="textarea" maxlength="400" placeholder="insira aqui a biografia do autor">{{bio}}</textarea>
      </div>
    </div>

    <div class="field">
      <label class="label">Foto (url)</label>
      <div class="control">
        <input id="photourl" name="photourl" class="input" type="text" placeholder="insira aqui a url da foto do autor" value="{{photourl}}">
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <input type="submit" value="Salvar" class="button is-primary is-medium is-fullwidth">
      </form>
    </div>
    <div class="control">
      <a class="button is-danger is-medium is-fullwidth" href="/admin/list">Cancelar</a>
    </div>
  </div>
  {{/authorItem}}
</div>
