<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Autor</title>
  <link rel="stylesheet" href="../css/bulma.css">
</head>
<body>
  {{> header}}
  <section class="author-section">
    <div class="container">
      <div class="author-container">
        <div class="info-author">
          {{#authorItem}}
          <div class="photo-container">
            <div class="photo-author">
              <img src="{{ photourl }}" alt="" width="100%" height="100%">
            </div>
          </div>
          <div class="info-container">
            <div class="name">
              <span>{{author}}</span>
            </div>
            <div class="email">
              <span> {{email}}</span>
            </div>
          </div>
        </div>
        <div class="bio-container">
          <div class="text-bio">
            <p>{{bio}}</p>
          </div>
        </div>
      </div>
      {{/authorItem}}
      <div class="playlist-container">
        <ul>
          {{#arrayCourses}}
          <a href="/course/{{ _id }}">
            <li class="box">
              <figure class="image is-4by3">
                <img src="{{ image }}" alt="imagem do curso">
              </figure>
              <p>{{ title }}</p>
            </li>
          </a>
          {{/arrayCourses}}
        </ul>
      </div>
    </div>
</body>
</html>
