<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Autor</title>
  <link rel="stylesheet" href="/css/author.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
</head>
<body>
  <section class="author-section">
    <header class="author-header">
      <div class="logo">
        <h1><a href="/" class="link-logo">&#60;/CONHECIMENTO LIVRE&#62;</a></h1>
      </div>
    </header>
    <div class="container">
      <div class="author-container">
        <div class="info-author">
          {{#authorItem}}
          <div class="photo-container">
            <div class="photo-author">
              <img src="{{ photourl }}" alt="" width="100%" height="100%">
            </div>
          </div>
          <div class="info-container">
            <div class="name">
              <span>{{name}}</span>
            </div>
            <div class="email">
              <span> {{email}}</span>
            </div>
          </div>
        </div>
        <div class="bio-container">
          <div class="text-bio">
            <p>{{bio}}</p>
          </div>
        </div>
      </div>
      {{/authorItem}}
      <div class="playlist-container">
        <ul>
          {{#courseItens}}
          <a href="/course/{{ _id }}">
            <li>
              <p>{{ title }}</p>
            </li>
          </a>
          {{/courseItens}}
        </ul>
      </div>
    </div>
  </section>
</body>
</html>
