<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Autor</title>
  <link rel="stylesheet" href="/css/author.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

</head>
<body>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item link-logo">&#60;/CONHECIMENTO LIVRE&#62;</a>
    </div>
  </nav>

  <div class="columns">
  <div class="column">
    <div class="content box">
    <h1>Hello World</h1>
    <p>Lorem ipsum<sup><a>[1]</a></sup> dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque. Sub<sub>script</sub> works as well!</p>
  </div>
  </div>
  <div class="column content is-4 box playlist-container ">
      <ul>
        {{#courseItens}}
        <a href="/course/{{ _id }}">
          <li >
            <img src="{{ image }}" alt="imagem do curso">
            <p>{{ title }}</p>
          </li>
        </a>
        {{/courseItens}}
      </ul>
  </div>



  <!-- <section class="author-section">
    <div class="container">
      <div class="author-container">
        <div class="info-author">
          {{#authorItem}}
          <div class="photo-container">
            <div class="photo-author">
              <img src="{{ photourl }}" alt="" width="100%" height="100%">
            </div>
          </div>
          <div class="info-container">
            <div class="name">
              <span>{{author}}</span>
            </div>
            <div class="email">
              <span> {{email}}</span>
            </div>
          </div>
        </div>
        <div class="bio-container">
          <div class="text-bio">
            <p>{{bio}}</p>
          </div>
        </div>
      </div>
      {{/authorItem}}
      <div class="playlist-container">
        <ul>
          {{#courseItens}}
          <a href="/course/{{ _id }}">
            <li>
              <img src="{{ image }}" alt="imagem do curso">
              <p>{{ title }}</p>
            </li>
          </a>
          {{/courseItens}}
        </ul>
      </div>
    </div>
  </section> -->

</body>
</html>
