<!DOCTYPE html>
<html>
<head>
  {{#content}}
  <meta charset="utf-8">
  <title>Conhecimento Livre</title>
  <link rel="stylesheet" href="/css/content.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
  {{/content}}
</head>
<body>
  <section class="content-section">
    <header class="content-header">
      <div class="logo">
        <h1>&#60;/CONHECIMENTO LIVRE&#62;</h1>
      </div>
      <div class="search">
        <form class="search" action="/search" method="post">
          <input id="search" type="text" name="search" placeholder="Procurar">
        </form>
      </div>
    </header>
    <div class="container">
      <div class="content-container">
        {{#content}}
        <div class="player-container">
          <p class="title">{{title}}</p>
          <iframe class="player-size" src="https://www.youtube.com/embed/{{url}}" frameborder="0" allowfullscreen></iframe>
        </div>
<<<<<<< 38fd48ddfdbbc039229d0cd2ed30e5ef4c6beba7
      </header>
      <div class="container">
          <div class="content-container">
            {{#content}}
            <div class="player-container">
              <p class="title">{{title}}</p>
              <iframe class="player-size" src="https://www.youtube.com/embed/{{url}}" frameborder="0" allowfullscreen></iframe>

            </div>
            {{/content}}
          </div>

          <div class="playlist-container">

            <div>
              <ul>
                {{#allContents}}
                  <li>
                    <a class='miniatura' href="/content/{{ id }}">
                      <img src="http://i1.ytimg.com/vi/{{ url }}/mqdefault.jpg" alt="">
                      <div class="nome-video">{{ nome }}</div>
                      <p class="descricao">{{ descricao }}</p>
                    </a>

                  </li>
                {{/allContents}}
              </ul>
            </div>
          </div>
=======
        {{/content}}
      </div>
<<<<<<< a4621ff16c84475aeb947d20584a27288b76c75a
>>>>>>> <Renan,Fernanda> Muda os atributos para o inglês.

=======
>>>>>>> <@fealmeida,@RenanSchmitt> retira linhas em branco
      <div class="playlist-container">
        <div>
          <ul>
            {{#allContents}}
            <li>
              <a class='thumbnail' href="/content/{{ id }}">
                <img src="http://i1.ytimg.com/vi/{{ url }}/mqdefault.jpg" alt="">
                <div class="title-video">{{ title }}</div>
                <p class="preview"> {{ preview }}</p>
              </a>
            </li>
            {{/allContents}}
          </ul>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
