<!DOCTYPE html>
<html>
<head>
  {{#content}}
  <meta charset="utf-8">
  <title>Conhecimento Livre</title>
  <link rel="stylesheet" href="/css/content.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
  {{/content}}
</head>
<body>


  <section class="content-section">
    <header class="content-header">
      <div class="logo">
        <h1>&#60;/CONHECIMENTO LIVRE&#62;</h1>
      </div>
      <div class="search">
        <form class="search" action="/" method="post">
          <input id="search" type="text" name="search" placeholder="Procurar">
        </form>
      </div>
    </header>
    <div class="container">
      <div class="content-container">
        {{#content}}
        <div class="player-container">
          <p class="title">{{title}}</p>
          <iframe class="player-size" src="https://www.youtube.com/embed/{{url}}" frameborder="0" allowfullscreen></iframe>

        </div>
        {{/content}}
      </div>

      <div class="playlist-container">

        <div>
          <ul>
            {{#allContents}}
            <li>

              <a class='thumbnail' href="/content/{{ id }}">
                <img src="http://i1.ytimg.com/vi/{{ url }}/mqdefault.jpg" alt="">
                <div class="title-video">{{ title }}</div>
                <p class="preview"> {{ preview }}</p>
              </a>

            </li>
            {{/allContents}}
          </ul>
        </div>
      </div>

    </div>
  </section>
</body>
</html>
