<!DOCTYPE html>
<html>
<head>
  {{#contentItem}}
  <meta charset="utf-8">
  <title>Conhecimento Livre</title>
  <link rel="stylesheet" href="css/bulma.css">
  {{/contentItem}}
</head>
<body>
  <section class="content-section">
    <header class="content-header">
      <div class="logo">
        <h1><a href="/" class="link-logo">&#60;/CONHECIMENTO LIVRE&#62;</a></h1>
      </div>
    </header>
    <div class="container">
      <div class="content-container">
        <div class="player-container">
          {{#contentItem}}
          <p class="title">{{title}}</p>
          <iframe class="player-size" src="https://www.youtube.com/embed/{{url}}" frameborder="0" allowfullscreen></iframe>
          {{/contentItem}}
          <div class="line">
            {{#previous}}
            <form action="/content/{{ id }}">
              <input type="submit" value="Anterior">
            </form>
            {{/previous}}
            {{#next}}
            <form action="/content/{{ id }}">
              <input type="submit" value="Proximo">
            </form>
            {{/next}}
          </div>
          <div class="line">
            {{#authorItem}}
            <a href="/author/{{ _id }}">{{author}}</a>
            {{/authorItem}}

            {{#contentItem}}
            Views: {{ views }}
            {{/contentItem}}
          </div>
        </div>
      </div>
      <div class="playlist-container">
        <div>
          <ul>
            {{#allContents}}
            <li>
              <a class='thumbnail' href="/content/{{ id }}">
                <img src="http://i1.ytimg.com/vi/{{ url }}/mqdefault.jpg" alt="">
                <div class="title-video">{{ title }}</div>
                <p class="preview"> {{ preview }}</p>
              </a>
            </li>
            {{/allContents}}
          </ul>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
