<html>
<head>
  {{#contentItem}}
  <meta charset="utf-8">
  <title>Conhecimento Livre</title>
  <link rel="stylesheet" href="../css/bulma.css">
  {{/contentItem}}
</head>
<body>
  {{> header}}
  <section class="content-section">
    <div class="container">
      <div class="content-container">
        <div class="player-container">
          {{#contentItem}}
          <p class="title">{{title}} - {{ class }}</p>
          <iframe class="player-size" src="https://www.youtube.com/embed/{{url}}" frameborder="0" allowfullscreen></iframe>
          {{/contentItem}}
          <div class="line">
            {{#previous}}
            <form action="/content/{{ id }}">
              <input type="submit" value="Anterior">
            </form>
            {{/previous}}
            {{#next}}
            <form action="/content/{{ id }}">
              <input type="submit" value="Proximo">
            </form>
            {{/next}}
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-warning">
          <div class="content">
            <div class="content">
              <h5 class="title is-5">Outras aulas:</h5>
              <div class="scroll playlist-container">
                <ul>
                  {{#allContents}}
                  <li>
                    <a class='thumbnail' href="/content/{{ id }}">
                      <img src="http://i1.ytimg.com/vi/{{ url }}/mqdefault.jpg" alt="">
                      <div class="title-video">{{ title }}</div>
                      <p class="preview"> {{ preview }}</p>
                    </a>
                  </li>
                  {{/allContents}}
                </ul>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </body>
  </html>
