<html>
<head>
  {{#contentItem}}
  <meta charset="utf-8">
  <title>Conhecimento Livre</title>
  <link rel="stylesheet" href="../css/bulma.css">
  {{/contentItem}}
</head>
<body>
  {{> header}}
  <section class="content-section">
    <div class="container">
      <div class="content-container">
        <div class="player-container">
          {{#contentItem}}
          <p class="title">{{title}} - {{ class }}</p>
          <iframe class="player-size" src="https://www.youtube.com/embed/{{url}}" frameborder="0" allowfullscreen></iframe>
          {{/contentItem}}
          <div class="line">
            {{#previous}}
            <form action="/content/{{ id }}">
              <input type="submit" value="Anterior">
            </form>
            {{/previous}}
            {{#next}}
            <form action="/content/{{ id }}">
              <input type="submit" value="Proximo">
            </form>
            {{/next}}
          </div>
        </div>
        <div class="playlist-container">
          <div>
            <ul>
              {{#contents}}
              <li>
                <a class='thumbnail' href="/content/{{ id }}">
                  <img src="http://i1.ytimg.com/vi/{{ url }}/mqdefault.jpg" alt="">
                  <div class="title-video">{{ class }}</div>
                  <p class="preview"> {{ preview }}</p>
                </a>
              </li>
              {{/contents}}
            </ul>
          <div class="line">
            {{#authorItem}}
            <a href="/author/{{ _id }}">{{author}}</a>
            {{/authorItem}}
            {{#contentItem}}
            Views: {{ views }}
            {{/contentItem}}
          </div>
        </div>
      </div>

    </div>
  </section>
</body>
</html>
