<!DOCTYPE html>
<html>
  <body>
      {{#filtercourse}}
      <p>{{ title }}</p>
      <p>{{ author }}</p>
      <p>{{ description }}</p>
      <p>{{ duration }}</p>
      <p>{{ lessons }}</p>
      <p>{{ language }}</p>
      {{/filtercourse}}
  </body>
</html>
