<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Conhecimento Livre</title>
  <link rel="stylesheet" href="/css/course.css">
  <link rel="stylesheet" href="/css/content.css">
  <link rel="stylesheet" href="/css/text.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
</head>
<body>
  <section class="content-section">
    <header class="content-header">
      <div class="logo">
        <h1><a href="/">&#60;/CONHECIMENTO LIVRE&#62;</a></h1>
      </div>
    </header>
    {{#courseItem}}
    <div class="container-course">
      <div class="top-course">
        <div class="info-course">
          <p class="big-title bold-font" >{{ title }}</p>
          <p><span class="bold-font">Autor:</span> {{ author }}</p>
          <p><span class="bold-font">Duração:</span> {{ duration }}</p>
          <p><span class="bold-font">Linguagem:</span> {{ language }}</p>
          <p><span class="bold-font">Número de aulas:</span> {{ lessons }}</p>
        </div>
        <div class="player-course">
        </div>
      </div>
      <div class="bottom-course">
        <div class="description-course">
          <p><span class="bold-font">Descrição do curso:</span></p>
          <p>{{ description }}</p>
        </div>
        <div class="classes">
        </div>
      </div>
    </div>
    {{/courseItem}}
  </section>
</body>
</html>
