<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Conhecimento Livre</title>
  <link rel="stylesheet" href="/css/course.css">
  <link rel="stylesheet" href="/css/content.css">
  <link rel="stylesheet" href="/css/text.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
</head>
<body>
  <section class="content-section">
    <header class="content-header">
      <div class="logo">
        <h1><a href="/">&#60;/CONHECIMENTO LIVRE&#62;</a></h1>
      </div>
    </header>

    {{#filtercourse}}
<div class="container-course">

    <div class="top-course">

<div class="info-course">

    <p class="big-title" >{{ title }}</p>
    <p>Autor: {{ author }}</p>
    <p>Duração: {{ duration }}</p>
    <p>Linguagem: {{ language }}</p>
    <p>Número de aulas: {{ lessons }}</p>
</div>
<div class="player-course">

</div>
</div>
<div class="bottom-course">

<div class="description-course">
<p>Descrição do curso:</p>
    <p>{{ description }}</p>
  </div>
  <div class="classes">

  </div>
</div>
</div>

    {{/filtercourse}}
  </section>
</body>
</html>
